<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Doctor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 150px;
        }
    </style>
</head>
<body>
<table>
    <h1>
        <span th:text="'Message:' + ${message}"></span>
    </h1>
    <tbody>
    <th>
    <td>ID</td>
    <td>Date</td>
    <td>Description</td>
    </th>
    <tr th:each="consultation : ${ consultationList }">
        <td th:text="${ consultation.id }">Id</td>
        <td th:text="${ consultation.date }">name</td>
        <td th:text="${ consultation.description }">role</td>
    </tr>
    </tbody>
</table>
<!--th:object="${user}" modelAttribute="user"-->
<form th:action="@{/doctor}"  method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
    <table>
        <tr>
            <td>Patient id:</td>
            <td><input type="number" id="id"/></td>
        </tr>
        <tr>
            <td>Consultation id:</td>
            <td><input type="number" id="id"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" id="description" /></td>
        </tr>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="listPatients">List patients</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="listConsultations">List consulations of selected patient</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="updateConsultation">Update Consultation</button>
            </div>
        </div>

    </table>
</form>
<tbody>
<th>
<td>ID</td>
<td>Date</td>
<td>Description</td>
</th>
<tr th:each="patient : ${ patientsList }">
    <td th:text="${ patient.id }">Id</td>
    <td th:text="${ patient.name }">name</td>
</tr>
</tbody>
</body>
</html>