<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Secretary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 150px;
        }
        th, td {
            padding: 3px;
        }
    </style>

</head>
<body>
<!--<table>-->
    <!--<tbody>-->
    <!--<th>doctors sorted by availability</th>-->
    <!--<th>-->
    <!--<td>ID</td>-->
    <!--<td>Name</td>-->
    <!--</th>-->
    <!--<tr th:each="doctor : ${ doctorList }">-->
        <!--<td th:text="${ doctor.id }">Id</td>-->
        <!--<td th:text="${ doctor.name }">name</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<table>
    <!--<tbody>-->

    <th>
    <td>ID</td>
    <td>Patient</td>
    <td>Doctor</td>
    <td>Date</td>
    </th>
    <tr th:each="consultation : ${ consultationList }">
        <td th:text="${ consultation.id }">Id&emsp;</td>
        <td th:text="${ consultation.patient.id }"> patient&emsp;</td>
        <td th:text="${ consultation.doctor.id }"> doctor&emsp;</td>
        <td th:text="${ consultation.date }"> date&emsp;</td>
    </tr>
    <!--</tbody>-->
</table>

<form th:action="@{/consultation}" th:object="${consultation}" modelAttribute="consultation" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" th:field="${consultation.id}" id="id"/></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="${consultation.id}">Id Error</td>
        </tr>

        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="${consultation.date}" /></td>
            <td th:if="${#fields.hasErrors('date')}" th:errors="${consultation.date}">Date Error</td>
        </tr>

        <tr>
            <td>Patient Id:</td>
            <td><input type="number" th:field="${consultation.patient}" /></td>
            <td th:if="${#fields.hasErrors('patient')}" th:errors="${consultation.patient}">Patient Error</td>
        </tr>

        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="${consultation.description}" /></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="${consultation.description}">Description Error</td>
        </tr>

        <div class="form-group">
            <label for="did" class="col-sm-4 control-label">Doctor id:</label>
            <div class="col-sm-8">
                <input type="number" name="did" id="did" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="findAll">find all</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="save">save</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="notifyDoctor">notify doctor</button>
            </div>
        </div>

    </table>
    <h1>
        <span th:text="'Status:' + ${message}"></span>
    </h1>
</form>

</body>
</html>